<h1 style="text-align: center;">
  Appointment History
</h1>
<table>
  <tr>
    <td>appointment id</td>
    <td>patient name</td>
    <td>patient contact number</td>
    <td>doctor name</td>
    <td>specialization</td>
    <td>appointment date </td>
  </tr>
  <tr>
    <td>{{appointments.id}}</td>
    <td>{{appointments.patientname}}</td>
    <td>{{appointments.patientcontactnumber}}</td>
    <td>{{appointments.doctorname}}</td>
    <td>{{appointments.specialization}}</td>
    <td>{{appointments.appointmentdate}}</td>
  </tr>
</table>